<h1>{{link-to 'Charts' 'index'}}</h1>
<ul class="nav nav-tabs">
  <li>{{link-to 'Horizontal Bar Chart' 'horizontal-bars'}}</li>
  <li>{{link-to 'Stacked Bar Chart' 'bar-chart'}}</li>
  <li>{{link-to 'Pie Chart' 'pie-chart'}}</li>
  <li>{{link-to 'Time Series' 'time-series'}}</li>
</ul>

{{outlet}}
